@model Backend6.Models.Forum

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
<p>@Model.Discription</p>

@if (User.Identity.IsAuthenticated)
{
<p>
    <a asp-controller="ForumTopics" asp-action="Create" asp-route-forumId="@ViewBag.ForumId">Create new topic</a>
</p>
}
@if (Model.ForumTopics.Count != 0)
{
    <div class="panel panel-default">

        <table class="table table-striped">
            <tbody>
                @foreach (var topic in Model.ForumTopics)
                {
                    <tr>
                        <td>
                            <a style="font-size: 1.3em" asp-controller="ForumTopics" asp-action="Details" asp-route-forumId="@topic.ForumId" asp-route-id="@topic.Id">@topic.Name</a><br />
                            @topic.Creator, @topic.Created
                        </td>
                        <td style="width: 100px">
                            @topic.ForumMessages.Count replies
                        </td>
                        <td style="width: 220px">
                            @if (topic.ForumMessages.Count == 0)
                            {
                                @topic.Creator <br />
                                @topic.Created
                            }
                            else
                            {
                                @topic.ForumMessages.OrderBy(x => x.Created).Last().Creator <br />
                                @topic.ForumMessages.OrderBy(x => x.Created).Last().Created
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
